

<div class="container d-flex justify-content-center mt-5">
        <h1>Cadastre o filme</h1>
</div>

<div class="container-fluid d-flex justify-content-center">
<div class="row">
<%= form_with(model: room, url: room_create_path, method: :post) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.label :Número_da_Sala, class: "form-label" %>
    <%= form.text_field :number, class: "form-control", required: true %>

    <%= form.label :Url_do_Youtube, class: "form-label" %>
    <%= form.text_field :link, class: "form-control", required: true %>

    <%= form.label :Nome_do_Vídeo, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
    <br>
  <div>
    <%= form.submit 'Cadastrar Filme', class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>