
<p style="color: green"><%= notice %></p>

<div class="container d-flex justify-content-center mt-5">
        <h1>Convide o usuário</h1>
    </div>

<div class="container-fluid d-flex justify-content-center">
<div class="row">
<%= form_with url: invite_path, method: :post do |f| %>
        <%= f.label :Selecione_o_usuário, class: "form-label" %>
        <%= f.collection_select(:user_id, @users, :id, :user_form, { class: 'form-select' }) %>
        <br>
        <%= f.label :Selecione_a_sala, class: "form-label" %>
        <%= f.collection_select(:room_id, @rooms, :id, :name, { class: 'form-select' }) %>
        <br>
        <%= f.submit 'Convidar', class: "btn btn-primary" %>
<% end %>
</div>
</div>

